@media (min-width:568px) and (max-width:980px) {
    .wrapper {
        width: 100%;
        padding: 0 7px;
    }

    .logo {
        width: 33%;
    }

        .logo h1 {
            font-size: 29px;
        }

    .social-icon {
        width: 34%;
    }

    .google-search.right {
        width: 32%;
    }

    .google-search .txtbox {
        width: 57%;
    }

    .google-search .btnSubmit {
        width: 40%;
    }

    .slider {
        width: 49%;
    }

    .box {
        width: 49%;
    }

    .colleges-in-india.box, .schools-in-india.box {
        width: 49%;
    }

    .courses-in-india.box, .exams-in-india.box {
        width: 49%;
    }

    .universities.carousel li {
        width: 19%;
    }

    .institutes.carousel li, .schools.carousel li {
        width: 16%;
    }

    .left-side {
        width: 100%;
    }

    .Colleges-in-India.box,
    .Courses-in-India.box,
    .Schools-in-India.box,
    .Exams-in-India.box {
        width: 49.5%;
    }

    .box-content .search .course-type,
    .box-content .search .college-location,
    .box-content .search .school-type,
    .box-content .search .school-location {
        width: 40%;
    }

    .search {
        display: block;
        width: 100%;
    }

    .rating {
        width: 55%;
    }

    .social-share {
        width: 44%;
    }

    .list li {
        width: 49%;
    }

    .google-ad.square {
        width: 30%;
    }

    .voting {
        width: 53%;
    }

    .col-1 {
        margin-right: 0;
    }

    .right-side {
        display: none;
    }

    #details-page .box ul li.college-logo {
        margin-right: 10px;
        width: 33%;
    }
    #details-page .box ul li.college-detail {
        margin-right: 10px;
        width: 60%;
    }
    .details-page-tab .tab-section li {
        width: 33%;
    }
    .details-page-tab .tab-section li.college-compare-tab {
        float: left;
        margin-top: 1px;
        width: 66%;
    }
    .details-page-tab .tab-section li a {
        border-radius: 0;
        margin-bottom: 1px;
    }
    #details-page .social-share {
        width: 100%;
    }

    #details-page .box ul li.college-image {
        width: 33%;
    }

    #details-page .box .rating ul li:nth-child(2) {
        text-align: center;
        width: 33%;
    }

    #details-page .box .rating ul li:last-child {
        text-align: center;
        width: 33%;
    }

    #details-page .box .rating ul li:first-child {
        width: 33%;
    }

    .rating-text {
        margin-left: 0;
    }

    #details-page .box .details-page-tab #photos ul li {
        width: 33%;
    }

    #details-page .box .details-page-tab #videos ul li {
        width: 49%;
    }

    #special-page .left-side {
        width: 35%;
    }

    #special-page .right-side {
        width: 63%;
    }

    .review-details {
        padding: 0;
    }

    #special-page .rating-inner-dv .col-1 {
        width: 35%;
    }

    #special-page .rating-inner-dv .col-2 {
        width: 64%;
    }
    .footer-menu{
    width: 100%;
}
}
@media all and (min-width:500px) and (max-width:767px){
     .voting{
        margin-top: 0px;
        width: 45%;
    }   
}
@media all and (min-width:320px) and (max-width:567px) {
    body {
        background: url("../images/bg.jpg") repeat-y scroll 0 0 / 100% auto #ffffff;
    }

    .logo,
    .wrapper,
    .social-icon,
    .google-search .txtbox,
    .google-search.right,
    .box,
    .colleges-in-india.box,
    .courses-in-india.box,
    .exams-in-india.box,
    .schools-in-india.box,
    .carousel li,
    .institutes.carousel li,
    .schools.carousel li,
    .footer-menu,
    .left-side,
    .box-content .search .course-type,
    .box-content .search .college-location,
    .box-content .search .school-type,
    .box-content .search .school-location,
    .rating,
    .social-share,
    .list li,
    .box-content .college-compare .course-type,
    .filter li,
    .voting,
    .col-1,
    .col-2 {
        width: 100%;
        display: block;
    }

    .slider {
        width: 100%;
        margin-right: 0;
    }

    .wrapper {
        padding: 0 7px;
    }

    .logo {
        text-align: center;
    }

    .google-search.right {
        text-align: center;
    }

    .google-search .txtbox {
        margin-bottom: 5px;
    }

    #content {
        padding: 20px 10px 0;
    }
    .news.box {
    margin-top: 10px;
    }
    .box {
        margin-bottom: 10px;
    }

    .colleges-in-india.box,
    .courses-in-india.box,
    .exams-in-india.box,
    .schools-in-india.box {
        margin-right: 0;
    }

    .carousel li,
    .institutes.carousel li,
    .schools.carousel li,
    .box-content .search .course-type,
    .box-content .search .college-location,
    .box-content .search .school-type,
    .box-content .search .school-location {
        margin-bottom: 8px;
    }

    .rating {
        text-align: center;
        margin-bottom: 8px;
    }

    .rating-text {
        margin-left: 0;
    }

    .google-ad.square {
        width: 100%;
    }

    .social-share {
        text-align: center;
    }

    .right-side {
        width: 100%;
        margin-top: 10px;
    }
    .fb-like-box > iframe {
        width: 100% !important;
    }
    #details-page .box ul li.college-logo {
        text-align: center;
        width: 100%;
    }

    #details-page .box ul li.college-image {
        display: inline;
        vertical-align: middle;
        width: 100%;
    }

    .details-page-tab .tab-section li {
        display: inline-block;
        margin-bottom: 1px;
        width: 100%;
    }

        .details-page-tab .tab-section li a {
            border-radius: 0;
        }

        .details-page-tab .tab-section li.college-compare-tab {
            float: left;
            margin: 1px 0 0;
            width: 99%;
        }

    .bread-cumb {
        height: auto;
    }

    #details-page .box ul.info {
        display: inline-block;
        width: 100%;
    }

    #details-page .box ul li.college-detail {
        margin-right: 0;
        width: 100%;
    }

    #details-page .box ul li.college-image {
        display: inline-block;
    }

    #details-page .box .rating ul {
        display: block;
    }

        #details-page .box .rating ul li:first-child {
            display: inline-block;
            width: 100%;
        }

        #details-page .box .rating ul li:nth-child(2) {
            display: inline-block;
            width: 49%;
        }

        #details-page .box .rating ul li:last-child {
            display: inline-block;
            width: 100%;
        }

    .compare-college-tab {
        display: none;
    }

    #details-page .box .details-page-tab #photos ul li {
        width: 100%;
    }

    #details-page .box .details-page-tab #videos ul li {
        width: 100%;
    }

        #details-page .box .details-page-tab #videos ul li iframe {
            width: 100%;
        }

    .need-edu-loan {
        width: 100%;
    }

        .need-edu-loan a {
            font-size: 20px;
        }

    .quiz-box {
        width: 100%;
        padding: 15px;
    }

    #special-page .left-side {
        width: 100%;
        margin-bottom: 10px;
    }

    #special-page .right-side {
        width: 100%;
    }

    .review-details {
        display: inline-block;
        padding: 0;
        width: 100%;
    }

        .review-details > span:first-child {
            width: 35%;
            display: inline-block;
        }

        .review-details > span:last-child {
            width: 63%;
            display: inline-block;
        }

    #special-page .rating-inner-dv .col-1 {
        font-size: 13px;
        text-align: left;
        width: 43%;
    }

    #special-page .rating-inner-dv .col-2 {
        display: inline-block;
        width: 55%;
    }

    .rating-inner-dv img {
        width: 20px;
    }


    /*Compare page*/
    .college-compare-result-dv > ul li .first.fourth-cols > p {
        font-size: 13px;
        width: 40px;
        word-wrap: break-word;
    }

    .college-compare-result-dv > ul {
        overflow-y: scroll;
    }

    .college-compare-result-dv ul li .second.fourth-cols,
    .college-compare-result-dv ul li .third.fourth-cols,
    .college-compare-result-dv ul li .fourth.fourth-cols {
        min-width: 110px;
    }

    .google-ad ins, .google-ad iframe, .google-ad table, .google-ad img {
        width: 100% !important;
    }
    .reveal-modal {
        width: 100%;
    }

    .voting {
        margin-top: 10px;
    }
    .footer-menu{
        width: 100%;
    }
    #details-list .related-dv ul li {
        width: 100%;
    }
    .GoogleCode {
        width: 100%;
    }
    div.full .jquery-auto-geocoder-map {
        width: 100%;
    }
}

